h1{

    color: darkblue;
    background-color: yellow;
}
.ch{

 color: darkorange;
 background-color: cornflowerblue;

}

.tv{

    color: yellow;
    background-color: blueviolet;
    width: 150px;
}